* {
    font-family: Quicksand, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
    z-index: 0;
}
html, body, .card {
    scroll-behavior: smooth;
    /* overflow: hidden; */
    /* overscroll-behavior: none; */
}
#mainContainer {
    overflow: auto;
}

body::-webkit-scrollbar { width: 0 !important }
body { overflow: -moz-scrollbars-none; }
body { -ms-overflow-style: none; }

.card::-webkit-scrollbar { width: 0 !important }
.card { overflow: -moz-scrollbars-none; }
.card { -ms-overflow-style: none; }

.page::-webkit-scrollbar { width: 0 !important }
.page { overflow: -moz-scrollbars-none; }
.page { -ms-overflow-style: none; }

#background {
    background: rgb(148,187,233);
    background: linear-gradient(90deg, rgba(148,187,233,1) 0%, rgba(238,174,202,1) 100%);
    height: 120vh;
    width: 100vw;
    overflow: hidden;
    background-repeat: repeat;
    max-width: 100%;
    position: fixed;
    background-size: auto;
}
#settingsGear {
    opacity: 0.6;
    float: right;
    margin-right: 1vw;
    margin-bottom: 1vw;
    width: 4vw;
    user-select: none;
}
#transport {
    position: fixed;
    bottom: 0;
    right: 0;
}
.transportButton {
    background: rgba(255,255,255,0);
    border: none;
    outline: none;
    height: auto;
    font-size: 1.8vw;
    /* text-align: right; */
    margin-right: 1vw;
    margin-bottom: 0.5vw;
}
#mainMenu {
    text-align: right;
    width: 15vw;
    bottom: 2vw;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#helpBox {
    background: rgba(0,0,0,0.5);
    width: 60vw;
    /* height: 8vw; */
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0.5vw;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.helpText {
    color: white;
    font-size: 1.5vw;
    padding: 0.25vw;
}
.openHelp {
    transform: translateY(0);
}
.closeHelp {
    transform: translateY(30vw);
}
.closeHelpInitial {
    transform: translateY(30vw);
}
#backgroundMenu {
    display: inline-block;
    text-align: left;
    background: rgba(255,255,255,0.1);
    padding: 0.25vw;
    right: 0.25vw;
    width: 13vw;
    border: none;
    outline: none;
    height: auto;
    margin-bottom: 0;
}
.backgroundMenuButton {
    font-size: 1.2vw;
    text-decoration: none;
}
#gradientEditorLink {
    margin-left: 0.25vw;
    text-align: right;
}
#backgroundInput {
    color: white;
    background: rgba(255,255,255,0.3);
    height: auto;
    width: 12vw;
    border: none;
    outline: none;
    float: left;
    padding: 0.5vw;
    text-decoration: none;
}
#backgroundInputText {
    text-align: left;
    border: none;
    outline: none;
}
#pageContainer {
    height: 100vh;
    height: auto;
    width: 100vw;
    max-width: 100%;
    position: relative;
}
.pageTransport {
    font-size: 4vw;
    height: auto;
    float: right;
    display: block;
    width: 100vw;
}
.page {
    width: 100vw;
    height: 100vh;
    /* max-height: 100%; */
    right: 0;
    top: 0;
    position: relative;
    overflow: auto;
}
.pageButton {
    font-size: 4vw;
    width: auto;
    float: right;
    margin-right: 1vw;
    position: absolute;
    top: 0vw;
    right: 0vw;
}
.cardContainer {
    margin: auto;
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
    display: inline-block;
    overflow: auto;
    align-items: center;
    text-align: center;
}
.card {
    display: inline-block;
    height: 38vh;
    max-height: 38vh;
    overflow: auto;
    width: 15vw;
    /* background: rgba(255,255,255,0.2); */
    position: relative;
    vertical-align: top;
    margin: auto;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vw;
}
.cardButton {
    font-size: 4vw;
    width: 2vw;
    float: left;
    position: absolute;
    top: -1.5vw;
    left: 0;
    height: 1vw;
    margin-left: 0.5vw;
    margin-bottom: 10vw;
    display: none;
}
.cardDeleteButton {
    font-size: 4vw;
    width: 2vw;
    float: left;
    top: -1.5vw;
    right: 0.5vw;
    height: 1vw;
    position: absolute;
    transform: translate(0.5vw, 0px);
    /* display: none; */
    visibility: none;
}
.cardTitle {
    font-size: 2vw;;
}
.cardItem {
    font-size: 1.2vw;    
    text-align: left;
}
.item {
    float: left;
    height: auto;
    margin-right: 3vw;
    margin-bottom: 0.5vw;
    /* margin-top: 0.5vw; */
}
.itemButton {
    width: 1.5vw;
    height: 0.4vw;
    font-size: 1vw;
    float: right;
    opacity: 0.6;
    background: white;
    border-radius: 3px;
    transform: translate(13.25vw, 0.25vw);
    position: absolute;
    /* position: relative; */
    transition-duration: 0.3s;
    z-index: 10;
    display: none;
}
.input {
    color: white;
    background: rgba(255,255,255,0.3);
    height: auto;
    width: 14vw;
    border: none;
    outline: none;
    float: left;
    padding: 0.5vw;
}
.deleteButton {
    float: right;
}
.button {
    color: rgba(255,255,255,0.6);
    user-select: none;
    transition-duration: 0.2s;
}  
.button:hover {
    color: rgba(255,255,255,0.8);
    /* background: -webkit-linear-gradient(90deg, rgba(247,109,229,1) 0%, rgba(255,0,179,1) 42%, rgba(238,218,174,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;height: auto; */
}
.buttonActive {
    color: white;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}  
@-webkit-keyframes glow {
    from {
        text-shadow: 1px 1px 12px rgba(255,255,255,0.5);
    }

    to {
        text-shadow: 1px 1px 12px rgba(255,255,255,0.5);
    }
}
.rotateLeft {
    -webkit-animation: rotateLeft linear 0.3s;
    -moz-animation: rotateLeft linear 0.3s;
    animation: rotateLeft linear 0.3s;
}
@-webkit-keyframes rotateLeft {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-90deg);
    }
}
.rotateRight {
    -webkit-animation: rotateRight linear 0.3s;
    -moz-animation: rotateRight linear 0.3s;
    animation: rotateRight linear 0.3s;
}
@-webkit-keyframes rotateRight {
    from {
        -webkit-transform: rotate(-90deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}
.openMenu {
    transform: translateX(0vw);
}
.closeMenu {
    transform: translateX(20vw);
}
.closeMenuInitial {
    transform: translateX(20vw);
}
.showDelete {
    display: block;
    /* opacity: 1.0; */
}
